.title {
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    font-weight: 100;
}
.title > h1 {
    font-size: 36px;
    margin: 0px;
    padding: 1% 0px;
    background: linear-gradient(90deg, #FC4939 0.2%, #C852FF 50.55%, #208BFE 100.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: flex-start;
}
.title > h2 {
    font-size: 28px;
    color: #DDDFE3;
    margin: 0px;
    align-self: center;
    padding: 1%;
}
.colourbutton {
    font-family: 'Open Sans', sans-serif;
    color: #DDDFE3;
    background: linear-gradient(90deg, #FC4939 0.2%, #C852FF 50.55%, #208BFE 100.2%);
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    border-style: none;
    flex-grow: 0;
    align-self: center;
}

.colourbutton:hover
{
    background: linear-gradient(-45deg, #208BFE 0.2%, #C852FF 50.55%, #FC4939 100.2%);

    -webkit-animation: Animation 15s ease infinite;
    -moz-animation: Animation 15s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@-moz-keyframes Animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes Animation { 
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.colourbutton > * {
    flex-grow: 0;
}

#editmodal {
}

body {
    padding: 16px;
    background: #23242A;
}